/* your styles here */
.todo-item {
  border: 1px solid green;
  border-radius: 3px;
  padding: 5px;
  margin: 3px 0px;
}
.todo-item.done {
  border: 1px dashed red;
  text-decoration: line-through;
}
.todo-item input[type="checkbox"] {
  margin: 0px 5px 0px;
}
.todo-delete {
  float: right;
  font-weight: bold;
}
