<div class="row">
    <div class="large-12 columns">
        <ul class="inline-list">
            <li>{{#linkTo 'about'}}About{{/linkTo}}</li>
            {{#each controller}}
                {{partial myPartial}}
            {{/each}}
        </ul>
    </div>
</div>
