<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Qunit Spec Runner</title>
    <link rel="stylesheet" href="bower_components/qunit/qunit/qunit.css">

    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/handlebars/handlebars.runtime.js"></script>
    <script src="bower_components/ember-shim/ember.js"></script>
    <script src="bower_components/ember-data/index.js"></script>

  </head>

  <body>
    <div id="ember"></div>

    <script src="bower_components/qunit/qunit/qunit.js"></script>

    <script src="app/app.js"></script>
    <script src="app/compiled-templates.js"></script>

    <script src="spec/spec.js"></script>
  </body>

</html>

